*{
	
	margin:0px;
    padding: 0;
    box-sizing: border-box;
}

body{
	overflow-x: hidden;
	background-color: white;
    font-family: 'Poppins', sans-serif;
    
}


/************************************* Header *****************************************/
.header{
	width: 100%; 
    display: flex;
    align-items: center;
}

/******************* Top Header **********************************/
.top-header{
	background-color:#ebc405;
	height: 80px;
	border-bottom: 3px solid black;
	position: fixed;
	top:0;
	z-index:100;
	width: 100%;
	
}

.social-link{
	float: left;
	list-style-type: none;
	padding: 0px;
	margin-right: 22%;
    margin-left: 20px;
}

.social-link img{
	margin-top: 25px;
	width:30px;
	height: 30px;
	
}

.top-header ul li{
	float:inherit;
	list-style-type: none;
    padding: 11px;
    padding-right: 25px;
    margin-left: 30px
	
}

.top-header ul li a{
	
	text-decoration: none;
    line-height: 14px;
    letter-spacing: 0.2px;
    color:black;
	margin: 0px;
	margin-left: 5px;
    font-size: 14.5px;
}

.top-header ul li a img{
	position:relative;
	width: 15px;
	height: 15px;
	vertical-align:middle;
	margin-right:8px;
}

.top-header .active, .top-header ul li:hover{
	color: red;
	background-color:#ffe151;
	border-radius: 20px;
}


/* Drop Down List */
.sub-menu{
	display:none;
    z-index: 1;
}

.sub-menu ul li a{
	padding: 0px;
    text-align: center;
}
.sub-menu ul li a:hover{
	color: #fff;
	background-color:#ebc405;
    
}

.top-header ul li:hover .sub-menu{
	display:block;
	position:absolute;
	background-color:#ebc405;
	margin-top: 11px;
	margin-left: -12px;
}

.top-header ul li a:hover .sub-menu ul{
    background-color:#FFDB58;
    
}
.top-header ul li:hover .sub-menu ul li{
	width: 200px;
	padding: 10px;
	padding-top:15px;padding-bottom:15px;
	margin: 0 20px;
	border-bottom: 1px dotted black;
	background-color: transparent;
    text-align: left;
    border-radius: 0px;
    
}
.top-header ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}

.nav{
	padding-top: 20px;
	float: left;
	width: 350px;
}


.logo{
	margin-top: 8px;
	float:left;
}

.logo img{  
	position:relative;
	width: 240px;
	height: 90px;
	margin-left: 0;
	padding: 0px;
}
.cart{
    float:left;
    margin-left: 80px
}
.cart img{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}
#cart_count{
    font-size: 13px;
    text-align: center;
    padding: 0 0.5rem 0rem 0.5rem;
    border-radius: 4rem;
    color: white;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
}


.search-box{
	padding-top: 58px;
    float: left;
	transform: translate(10px, 26px);
	background:black;
	height: 30px;
	border-radius: 50px;
	padding: 10px;
    margin-left: 50px
}
.search-box:hover > .search-txt{
	width: 200px;
	padding: 0 6px;
}

.search-btn{
	color: white;
	float:left;
	width: 20px;
	height:12px;
	border-radius: 100%;
	background:black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 12px;
	transition: 0.4s;
	line-height: 0px;
	width: 0px;
	
}






/*Login*/
/* Full-width input fields */
.txt01 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn01{
  background-color: #024FA1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn01:hover {
  opacity: 0.8;
}
.btn02{
    background-color: #ebc405;
    padding: 12px 20px;
}
.btn02:hover{
    background-color: lightgray;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
  border-radius: 30%;
}

.container {
  padding: 18px;
}

.container a:hover{
    background-color: white;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*code ends here*/





/*Register Pop-up*/
/* Full-width input fields */
.txt02 {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.txt02:focus, .txt02:focus {
  background-color: #ddd;
  outline: none;
}

.txt03 {
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.txt03:focus, .txt03:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.btn03 {
  background-color: #024FA1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
    float: left;
}

.btn03:hover {
  opacity:1;
}


/* Extra styles for the cancel button */
.cancelbtn1 {
  padding: 14px 20px;
  background-color: #f44336;
  margin-left: 37%;
    margin-top: 10px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn {
  float: center;
  width: 25%;
}

/* Add padding to container elements */
.container1 {
  padding: 16px;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close1 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close1:hover,
.close1:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix1::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn1, .signupbtn {
     width: 100%;
  }
}









/******************* Bottom Header **********************************/
.bottom-header{
	background-color:#024FA1;
	height: 81px;
	padding-top: 14px;
	width: 100%;
	margin:0px;
	margin-top: 80px;
    border-bottom: 2px solid black;
	
}

.cate{
    margin-right: 50px;
    margin-left: 20px;
    
}

.cate-menu{
	display:none;
    
}

.bottom-header .cate-menu ul li a{
	padding: 0px;
    text-align: center;
    float: none;
}
.bottom-header .cate-menu ul li a:hover{
	color: yellow;
	background-color:#024FA1;
    float: none;
}

.bottom-header ul li:hover .cate-menu{
	display:block;
	position:absolute;
	background-color:#024FA1;
	margin-top: 0px;
	margin-left: -12px;
    float: none;
}

.bottom-header ul li a:hover .cate-menu ul{
	display: block;
    background-color:#024FA1;
    float: none;
    
}
.bottom-header ul li:hover .cate-menu ul li{
	width: 200px;
	padding: 10px;
	padding-top:15px;padding-bottom:15px;
	margin: 0 20px;
	border-bottom: 1px dotted black;
	background-color: transparent;
    text-align: left;
    float: none;
    
}
.bottom-header ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}


.bottom-header ul li{
	float: left;
	list-style-type: none;
	margin-top:10px;
}

.bottom-header ul li a{
	text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 0.2px;
    color:white;
	
}

.bottom-header ul li img{
	width: 40px;
	height: 40px;
}

.prod{
	margin-left: 110px;
    margin-right: 20px;
	font-size:11px;
}

.prod a{
    margin-top: 3px;
    display: inline-block;
    border-radius: 10px;
    background: #f11526;
    color: #fff;
    padding: 8px 30px
}

.bottom-header .search-btn2{
	color: white;
	float:left;
	width: 80px;
	height:40px;
	background:black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
    text-decoration: none;
}

.bottom-header .search-txt2{
	border: 3px solid black;
	background: white;
	float: left;
	padding: 10px;
	color: black;
	font-size: 15px;
	transition: 0.4s;
	line-height: 0px;
	width: 880px;
	height: 40px;
	margin-left: 60px;
	margin-top: 10px;
}

.wish .grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.wish .grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  background-color:#024FA1;
  padding: 0px;
}
.wish .grayscale{
	margin-left: 85%;
}


.care img{
    margin-left: 180px;
}

.nav-header{
    text-align: center;
    background: #ebc405;
    width: 100%;
    height: 49px;
    margin: 0px;
    border-bottom: 3px solid black;
}
.nav-header ul{
    display: inline-flex;
    list-style-type: none;
}

.nav-header ul li{
    width: 200px;
}

.nav-header ul li a{
    text-decoration:none;
    color: black;
}
/************************************* CONTENT *****************************************/

.content1{
    background-color: aliceblue;
    height: 550px;
    padding-top: 51px
}
.mySlides {display: none;}
.content1 img {vertical-align: middle; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.content1 .active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10.0s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.content1a{
    margin-top:40px;
}
.more{
	text-align: center;
	font-size:13px;
    margin-bottom: 90px;
    margin-top: 20px;
}

.more a{
    display: inline-block;
    border-radius: 5px;
    background: #024FA1;
    color: #fff;
    padding: 11px 35px;
    text-decoration: none;
}

/*Know MORE page*/
.findout{
    max-width: 1200px;
    align-items: center;
    margin-left: 350px;
    margin-top: 70px;
}

/****************products display*******************/
.content2{
    max-width: 1200px;
    align-items: center;
    margin-left: 350px;
    margin-top: 0px;
    
}
.mmore {
    text-align: right;
    margin: 20px 30px 30px 20px;
    list-style-type: none;
}
.mmore a{
    text-decoration: none;
    color: black;
}

.content2 hr{
    margin-top: 70px;
}
.content2 h2{
    margin: 20px 0 30px 20px;
    float: left;
}
.row{
	display:inline-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
    margin-top: 20px;
	
}
.col-1{
 	flex-basis: 18%;
	min-width: 150px;
	margin-bottom: 30px;
}
.col-1 img{
	width: 80%;
}

.col-1:hover {
    font-size: 15px;
    padding:10px;
}


.faq-direct{
    background-color: #024FA1;
    color: white;
    height: 200px;
    text-align: center;
    margin-top: 80px;
}

.faq-direct a{
    color: white;
}
.faq-direct h4{
    padding-top: 30px;
}

.faq-direct .more{
	text-align: center;
	font-size:13px;
    margin-bottom: 90px;
    margin-top: 20px;
}

.faq-direct .more a{
    display: inline-block;
    border-radius: 5px;
    background: #ebc405;
    color: black;
    padding: 11px 35px;
    text-decoration: none;
}

/*       products details          */
.column1 .selectt input{
    width: 70px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid grey;
    margin-top:30px
}
.thebut{
    background: maroon;
    color: white;
    padding: 10px 40px;
    margin:30px 10px 60px 0px;
    border-radius: 20px;
    transition: background 0.5s;
    cursor: pointer;
}
..thebut:hover{
    background: red;
    color: black;
}


/*ABOUT PAGE*/
/* Create two equal columns that floats next to each other */
.pack{
  max-width: 1200px;
  align-items: center;
  margin-left: 350px;
}
.column1 {
  float: left;
  width: 50%;
  align-content: center;
}
/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
    
    
    

/*location pages*/
.locate{
    max-width: 1200px;
    align-items: center;
    margin-left: 350px;
    margin-top: 90px;
}

.box{
    text-align: center;
    
}

.proddata{
    width: 100%;
}

.mapp {
   margin-bottom: 80px;
}

.produce{
 	flex-basis: 18%;
	min-width: 150px;
	margin-bottom: 30px;
}
.produce img{
	width: 40%;
}

.produce:hover {
    font-size: 15px;
    padding:10px;
}



/*cart*/
.thecart{
    max-width: 1200px;
    margin-left: 350px;
    margin-top: 80px;
}

.thecart table td{
    width:13%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}.thecart table td img{
    width:70px;
    
}
.thecart table tr{
    padding-bottom: 10px;

}
.thecart .quant{
    width: 70px;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid grey;
}.content .quant{
    width: 70px;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid grey;
}
.thecart .update{
    width: 70px;
    height: 30px;
    font-size: 12px;
    background-color: darkcyan;
    color: white;
    padding: 0 10px;
    margin:5px 0 0 0px;
    transition: background 0.5s;
    cursor: pointer;
    text-align: center;
}
.thebut2{
    background: red;
    color: white;
    padding: 10px 30px;
    margin:50px 10px 60px 0px;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
}
.thebut3{
    align-items: center;
    background-color: darkblue;
    color: white;
    padding: 10px 30px;
    margin:50px 10px 60px 0px;
    border-radius: 5px;
    transition: background 0.5s;
    cursor: pointer;
}
/************************************* Footer *****************************************/
.top-footer{
	width: 100%;
	height: 260px;
	background-color: #262626;
	border-top: 2px solid black;
}

.top-footer h3{
    margin-bottom: 10px;
}

.top-footer .col1{
	padding-top: 30px;
	width: 20%;
	height: 190px;
	float:left;
	text-align: center;
	font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2px;
    margin-left: 130px;
}
.top-footer .col1 li{
	list-style-type: none;
	padding-top: 10px;
    color: antiquewhite;
}
.top-footer .col1 li a{
	text-decoration: none;
    color: #f9ffb5;
	
}

.top-footer .col2{
	padding-top: 30px;
	width: 20%;
	height: 190px;
	float:left;
	text-align: center;
	font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2px;
}
.top-footer .col2 li{
	list-style-type: none;
	padding-top: 15px;
    color: antiquewhite;
}
.top-footer .col2 li a{
	text-decoration: none;
	color: #f9ffb5;
}
.top-footer .col3{
	padding-top: 30px;
	width: 23%;
	height: 190px;
	float:left;
	text-align: center;
	
	font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2px;
}
.top-footer .col3 li{
	list-style-type: none;
	padding-top: 15px;
    color: antiquewhite;
}
.top-footer .col3 li a{
	text-decoration: none;
	color: #f9ffb5;
}
.top-footer .col4{
	padding-top: 30px;
	width: 24%;
	height: 190px;
	float:left;
	text-align: center;
	
	font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2px;
}
.top-footer .col4 li {
	list-style-type: none;
	padding-top: 15px;
    color: antiquewhite;
}
.top-footer .col4 li a{
	text-decoration: none;
	color: #f9ffb5;
}

.middle-footer{
    background-color: #262626;
}

.middle-footer p{
    color: #fff;
    padding: 30px 0 20px 210px;
}

.bottom-footer{
	height: 20px;
	background-color: black;
}

.bottom-footer p{
	color: white;
	font-size: 11px;
	float: left;
	margin-left: 45%;
	margin-top:2px;
}

.bottom-footer a{
	float: left;
	font-size: 11px;
	color: #F5DEB3;
	list-style-type: none;
	text-decoration: none;
	margin-left: 5px;
	margin-top:2px;
}
